@import 'tailwindcss';

.film-card {
  @apply rounded-lg overflow-hidden relative shadow-md transition-all duration-300 ease-out;
  transform-origin: center;
}

.film-card:hover {
  @apply scale-105 border-2 border-orange-700 shadow-xl;
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(220, 38, 38, 0.5); /* red-600 glow */
}

.film-poster-img {
  @apply h-full w-full object-cover rounded-md shadow-md transition-transform duration-200 group-hover:scale-105;
}

.poster-click-area {
  @apply cursor-pointer w-full h-full;
}

.film-card-icons {
  @apply absolute bottom-0 left-0 right-0 flex justify-around items-center 
         p-2 bg-black/70 text-white rounded-b-md text-2xl z-20 
         shadow-[0_16px_32px_rgba(0,0,0,0.85)];
}

.film-tooltip {
  @apply absolute -top-10 left-1/2 -translate-x-1/2 
         bg-zinc-900 text-white text-xs px-3 py-1 rounded shadow-lg 
         z-50 whitespace-nowrap pointer-events-none;
}

.film-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
