@import 'tailwindcss';

.ui-modal-backdrop {
  @apply fixed inset-0 flex items-center justify-center z-50;
  background-color: rgba(0, 0, 0, 0.5);
}


.ui-modal {
  @apply relative bg-black text-gray-100 rounded-md shadow-2xl p-4 w-full max-w-xs border border-red-500;
  max-height: 90vh; /* alto máximo visible */
  height: auto;     /* crece según contenido */
}



.ui-modal-close {
  @apply absolute top-3 right-4 text-gray-100 hover:text-red-500 text-xl font-bold;
  background: transparent;
  border: none;
  cursor: pointer;
}
