@import 'tailwindcss';

.hero-section {
 @apply relative w-full max-w-6xl mx-auto bg-cover bg-center overflow-hidden rounded-xl;
   aspect-ratio: 2.39 / 1;

  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 95%
  );
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 90%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.hero-small {
  aspect-ratio: 2.2 / 0.8; 
  max-height: 260px;
}


.hero-content {
  @apply text-center max-w-3xl mx-auto pt-8 pb-14 px-4;
}

.hero-title {
  @apply text-3xl sm:text-4xl font-extrabold text-white mb-4 leading-snug;
}

.hero-subtitle {
  @apply text-sm text-gray-300 mb-6 leading-relaxed;
}

.hero-button {
  @apply bg-green-600 text-white font-bold py-2 px-6 rounded-full shadow hover:bg-red-600 transition;
}

.green { @apply text-green-500; }
.red { @apply text-red-500 }
.yellow { color: #facc15; }
.orange { color: #fb923c; }
